@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

html {
    max-height: 100vh;
}

body {
    margin: 0px;
    top: 0;
    background-color: #1a1830;
    max-height: 100vh;
}

.top-half {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5%;
    margin-top: 10%;
    animation: fadeIn ease 2s;
}

.top-half h1 {
    color: #FFE9E8;
    opacity: 0.85;
    font-family: 'Epilogue', sans-serif;
    font-size: 100px;
    margin: 0;
}

.top-half span {
    color: #e2fda0;
}

.top-half ul {
    color: #FFE9E8;
    opacity: 0.85;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 4px dashed #FFE9E8;
}

.top-half ul * {
    margin: 1em;
}

.bottom-half {
    margin: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 2s;
}

.bottom-half h3 {
    color: #FFE9E8;
    opacity: 0.85;
    font-family: 'Epilogue', sans-serif;
}

.bottom-half .choices {
    display: flex;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
    
}

.bottom-half .choices button {
    border-style: none;
    background: none;
    font-family: 'Epilogue', sans-serif;
    font-size: 2em;
    color: #e2fda0;
    opacity: 0.85;
    cursor: pointer;
    padding: 0;
}

.bottom-half .choices button:hover {
    color: #550909;
    transition-property: color;
    transition-duration: 0.4s;
}

button:focus {
    border: none;
    outline: none;
}

.bottom-half .result {
    align-self: flex-start;
    bottom: 0;
    align-content: center;
}

.bottom-half .result .popup {
    margin: 5%;
    flex-flow: row wrap;
    width: 80vw;
    font-family: 'Epilogue', sans-serif;
    font-size: 4em;
    animation: fadeIn ease 1s;
    opacity: 0.85;

}

.bottom-half .result .popup p{
    margin: 0;
    color: #FFE9E8;
    opacity: 0.85;
    margin-right: 0.25em;
}

.bottom-half .result .popup a {
    margin: 0;
    margin-right: 0.25em;
    opacity: 0.85;
    color: #8d3c43;
    text-decoration: none;
}

.bottom-half .result .popup a:hover {
    background: linear-gradient(to right, black, #502226);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:0.85;
    }
}