@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');


html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: white;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

.page-layout {
    display: flex;
    flex-direction: column;
    margin: 25vh 25vw;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}



.link-holder {
    display: flex;
    flex-direction: column;
}

.header {
    text-decoration: underline #CF5300 solid;
    -webkit-text-decoration: underline #CF5300 solid;
}

.front-link {
    color: #698474;
    font-size: 20px;
    text-decoration: none;
    width: max-content;
}

.front-link:hover {
    text-decoration: underline #CF5300 dotted;
    -webkit-text-decoration: underline #CF5300 dotted;
}
.to-home {
    color: black;
    font-size: 20px;
    text-decoration: none;
    float: right;
    position: absolute;
    top: 10vw;
    right: 25vw;
}

.to-home:hover {
    text-decoration: underline #CF5300 solid;
    -webkit-text-decoration: underline #CF5300 solid;
}


.left-green {
    border-left: 3px solid #698474;
    padding-left: 1em;
}

p {
    margin: 0px;
    font-size: 20px;
    margin-top: 0.5em;
}

.first {
    margin: 0px;
}

.green {
    color: #698474;
}

.orange {
    color: #CF5300;
}


.card {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
}

.card h3 {
    margin-top: 0px;
    font-size: 22px;
    font-weight: lighter;
}

.project {
    background-color: #698474;
}

.position {
    background-color: #CF5300;
}

.card a {
    color: #B8F842;
    text-decoration: none;
    -webkit-text-decoration: none;
}

.card a:hover {
    text-decoration: underline #B8F842 solid;
    -webkit-text-decoration: underline #B8F842 solid;
}

/* .project a{
    color: #B8F842;
    text-decoration: underline #CF5300 solid;
    -webkit-text-decoration: underline #CF5300 solid;
}

.project a:hover {
    color: #CF5300;
    text-decoration: underline white solid;
    -webkit-text-decoration: underline white solid;
} */

.subhead {
    margin-top: 2em;
}

.list {
    font-size: 20px;
    list-style-type: devanagari;
    margin: 0px;
    color: #698474;

}

.list>* {
    margin-top: 1em;
    padding-left: 1em;
}

.list-item {
    color: black;
}