@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto+Slab&display=swap');

html {
    background: linear-gradient(#8559d4, #d284db);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0px;
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    flex-direction: column;
    color: #FFE9E8;
    font-family: 'IBM Plex Mono', monospace;
    align-items: center;
}

body .brief-intro {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

body h1 {
    margin-top: 20vh;
    font-size: 60px;
    margin-bottom: 0.5em;
}

body .intro-list {
    font-size: 20px;
}


body h3 {
    margin-bottom: 0.5em;
}

body .list {
    border-style: dashed;
    border-color: #FF9916;
    padding: 0px 1em;
    width: fit-content;
    margin-bottom: 10vh;
}

body .list li {
    margin: 0.75em 0px 0.75em 1em;
}

.top-half {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5%;
    margin-top: 10%;
    animation: fadeIn ease 2s;
}

.top-half h1 {
    color: #FFE9E8;
    font-family: 'Roboto Slab', serif;
    font-size: 100px;
    margin: 0;
}

.top-half h1 text {
    height: max-content;
}

.top-half span {
    color: #66CCCC;
    text-shadow: 3px 3px 8px #FF9916;
}

.top-half ul {
    color: #FFE9E8;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    margin-left: 1em;
    padding-left: 1em;
    border: 4px dashed #FF9916;
}

.top-half ul * {
    margin: 1em;
}

.bottom-half {
    margin: 5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn ease 2s;
}

.bottom-half h3 {
    color: #FFE9E8;
    font-family: 'IBM Plex Mono', monospace;
}

.bottom-half .choices {
    display: flex;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 40px;
    
}

.bottom-half .choices button {
    border-style: none;
    background: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
    font-size: 2em;
    color: #66CCCC;
    cursor: pointer;
}

.bottom-half .choices button:hover {
    outline-style: dotted;
    outline-color: #FF9916;
    /*text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #FF9916;*/
}

button:focus {
    border: none;
    outline: none;
}

.bottom-half .result {
    align-self: flex-start;
    bottom: 0;
    align-content: center;
}

.bottom-half .result .popup {
    margin: 5%;
    margin-top: 2.5%;
    flex-flow: row wrap;
    width: 80vw;
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    animation: fadeIn ease 1s;
    margin-bottom: 0px;

}

.bottom-half .result .popup p {
    margin: 0;
    color: #FFE9E8;
    margin-right: 0.25em;
    width: max-content;
}

.bottom-half .result .popup a {
    margin: 0;
    margin-right: 0.25em;
    color: #FF9916;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bolder;
}

.bottom-half .result .popup a:hover {
    /*background: linear-gradient(to right, black, #502226);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #66CCCC;

}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}