.hikes-body {
    background-color: #698474;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

.hikes {
    color: white;
}

.intro-hikes {
    border-bottom: 3px #CF5300 double;
    -webkit-border-bottom: 3px #CF5300 double;
    padding-bottom: 1em;
}

.date {
    font-size: 40px;
}